@import "../../../style/Mixins";

.personInfo {
  @media screen and (max-width: $breakpoint-md) {
    padding-left: 12px;
    padding-top: 22px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.block {
  width: 23%;
  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
    padding-left: 30px;
  }
}

.blockNav {
  display: flex;
  flex-direction: column;
  @include fluid(margin-bottom, 15px, 30px);
}
.personAvatar {
  @include fluid(width, 100px, 160px);
  @include fluid(height, 100px, 160px);
  @include fluid(margin-bottom, 10px, 20px);
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}
.personText {
  @include fluid(font-size, 16px, 20px);
  font-weight: 700;
  color: #000;
}
.personBlock {
  @include fluid(margin-bottom, 15px, 30px);
  @media screen and (max-width: $breakpoint-md) {
    display: flex;
  }
}
.title {
  @include fluid(font-size, 12px, 14px);
  color: #000;
  font-weight: 700;
  @include fluid(margin-bottom, 7px, 10px);
}
.link {
  flex-direction: column;
  @include fluid(font-size, 12px, 14px);
  color: #000;
  font-weight: 500;
  @include fluid(margin-bottom, 7px, 10px);
  @media screen and (max-width: $breakpoint-md) {
    margin: 0 16px 4px 0;
  }
}
.active {
  color: #00cf9d;
}
