@import "../../style/Mixins.scss";

.flex{
  display: flex;
  justify-content: space-between;
  @include fluid(margin-top, 15px, 30px);
  @media screen and (max-width: $breakpoint-md) {
    
    flex-direction: column;
  }
}

.sidebar{
  width: 30%;
  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
    width: 100%;
  }
}
.content{
  width: 68%;
}