@import "../../style/Mixins.scss";
@import "../../style/Breakpoints/breakpoints.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: $breakpoint-md) {
    
  }
}

.row_nav {
  @media screen and (max-width: $breakpoint-md) {
    display: none !important;
  }
}

.icon {
  margin: 8px;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-md) {

     }
}



// @media screen and (max-width: $breakpoint-lg) {

// }

// @media screen and (max-width: $breakpoint-md) {

// }

// @media screen and (max-width: $breakpoint-sm) {

// }

// @include media("<=tablet") {
// ul{
//   width: 100%;
//   background: #00FFC2;
//   top: 75px;
//   right: 0;
//   z-index: 2;
// }
// li{
//   display: block;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
