@import "../../style/Mixins.scss";
@import "../../style/Breakpoints/breakpoints.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: $breakpoint-md) {
    
  }
}

.row_nav {
  @media screen and (max-width: $breakpoint-md) {
    display: none !important;
  }
}

.icon {
  margin: 8px;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-md) {

     }
}
